<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Jose Duarte - 0061 - Rails 6.1.4.4 - <script>document.write(new Date().getFullYear());</script></span>
  </div>
</footer>